name: Zulip Java Client CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.adoc'
      - 'LICENSE.txt'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '**.adoc'
      - 'LICENSE.txt'

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17', '21', '25' ]
    steps:
      - name: Checkout Zulip Java Client
        uses: actions/checkout@v6
      - name: Restore cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Setup Zulip
        run: |
          cd src/test/resources/docker/
          docker compose up -d

          while [ "$(curl -k -L -s -o /dev/null -w "%{http_code}" http://localhost/login)" != "200" ]
          do
            sleep 5
          done

          ./populatedb.sh

          while [ "$(curl -k -L -s -o /dev/null -w "%{http_code}" http://localhost/login)" != "200" ]
          do
            sleep 5
          done

          ./createzuliprc.sh
      - name: Build JDK ${{ matrix.java }}
        run: |
          ./mvnw clean verify -ntp -B
